<div class="container"  style="width:1050px;">
  <h3 style="color:#dd2c00;margin-left:0px;font-size:28px">User Management</h3>
  <br><br>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href=".home" style="color:#680201;background-color:#827717 ">Change User Status</a></li>
    <li><a data-toggle="tab" href=".menu" style="color:#680201;background-color:#afb42b ">Manage Employee</a></li>
  </ul>

  <div class="panel panel-info" style="width:1000px">
  <div class="tab-content">

<!-- *************************************************************Change status******************************************************************** -->

    <div  class="home tab-pane fade in active">


      <div class="panel-body" style="width:500px;">

      <div class="row">

      <div class="col-xs-4">
      <label for="search">Search:</label>
      <input ng-model="query1" id="search" class="form-control" placeholder="Filter text">
      </div>

      <div class="col-xs-4">
      <label for="search">items per page:</label>
      <input type="number" min="1" max="100" class="form-control" ng-model="itemsperpage">
      </div>

      </div>
      <br>
      <table class="table table-striped table-bordered ">
      <tr> <th>Sl:No:</th> <th  style="padding-left:70px;padding-right:70px">User&nbsp;name&nbsp;</th>
      <th style="padding-left:50px;padding-right:50px;">Email ID</th>
      <th style="padding-left:50px;padding-right:50px;">User&nbsp;type</th>  <th>Change&nbsp;Status</th>  </tr>
      <tr dir-paginate="x in user | filter:query1 | itemsPerPage: itemsperpage" pagination-id="cust1">
        <td>{{$index + 1}}</td>
        <td>{{ x.username}}</td>
        <td>{{ x.email }}</td>
        <td>{{ x.usertype }}</td>

      <td>
      <button type="button" class="btn btn-default btn-success btn-sm" ng-show="(x.status=='active')?true:false"  ng-click="updateuserstatus('inactive',x.user_id);">
      <i class="fa fa-check-square-o"  aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-default btn-danger btn-sm" ng-hide="(x.status=='active')?true:false"  ng-click="updateuserstatus('active',x.user_id);">
      <i class="fa fa-ban" aria-hidden="true" ></i>
      </button>
      </td>

      </tr>

      </table>

      <dir-pagination-controls pagination-id="cust1"></dir-pagination-controls>

      </div>



    </div>

<!-- *************************************************************Manage employees******************************************************************** -->

    <div  class="menu tab-pane fade" >

      <div class="panel-body" style="width:500px;">
      <a ng-click="addexecutive()" style="color:#680201;margin-left:530px;margin-top:0px;" class="btn btn-info "> <span class="glyphicon glyphicon-plus"></span> Add Executives</a>

      <div class="row">

      <div class="col-xs-4">
      <label for="search">Search:</label>
      <input ng-model="query2" id="search" class="form-control" placeholder="Filter text">
      </div>

      <div class="col-xs-4">
      <label for="search">items per page:</label>
      <input type="number" min="1" max="100" class="form-control" ng-model="itemsperpage2">
      </div>

      </div>
      <br>
      <table class="table table-striped table-bordered " ng-show="(employee | filter:query2).length > 0 ">
      <tr> <th>Sl:No:</th> <th  style="padding-left:70px;padding-right:70px">User&nbsp;name&nbsp;</th>
      <th style="padding-left:30px;padding-right:30px;">Gender</th>
      <th style="padding-left:30px;padding-right:30px;">Salary</th>
      <th style="padding-left:30px;padding-right:30px;">Hired&nbsp;on</th>
      <th style="padding-left:30px;padding-right:30px;">Edit</th>  </tr>
      <tr dir-paginate="x in employee |  filter:query2  | itemsPerPage: itemsperpage2" pagination-id="cust2" >
        <td>{{$index + 1}}</td>
        <td>{{ x.fname + " " +x.lname}}</td>
        <td>{{ x.gender }}</td>
        <td>{{ x.salary }}</td>
        <td>{{ x.hire_date }}</td>

      <td>
      <button class="btn btn-primary" ng-disabled="(x.status=='active')?false:true"  ng-click="editemployee(x)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
      </td>

      </tr>


      </table>

      <div class="alert alert-warning" ng-hide="(employee | filter:query2).length > 0" >
      <strong>Oops!!</strong> ....Nothing to display....
      </div>





      </tr>

      </table>

      <dir-pagination-controls pagination-id="cust2"></dir-pagination-controls>

      </div>

    </div>





<!-- ********************************************************************************************************************************* -->

  </div>


</div>
</div>
