.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color:#ff6f00;
 }
.nav.navbar-nav li a {
  color: white;
 }
 .navbar-nav > li{

   padding-right:50px;
 }

.navbar-nav > li >a:hover,
.navbar-nav > li >a:focus {
  color: blue;
  background-color: #f4dc42;
  display:block;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height:550px;}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
/*  background-color: #eff7d7;*/
  height: 100%;
}

/* .navbar-header > a{color:white;background:green;padding-right:98px;}

/* Set black background color, white text and some padding */
body {
  background: url(../images/logo3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  background-color: #ff6d00 ;
  color: white;

  margin-top:0px;
  height:10px;
/*   position: absolute;
   bottom: 0;
   width: 100%;
  /*position:absolute;
  bottom: 0px;*/
}

.table  td   {
   text-align: center;
   
}

.table  th   {
   text-align: center;
   background-color:#680152;
   color:white
}

.popover {
      width: 150px;
      max-width: 200px;
      font-size: 13px;
      font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre;
      width: 150px;
    }

.tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }

    .panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
