<br><br>
<div class="panel panel-info" style="margin-left:10px;">
<div class="panel-heading"><b>Order Statistics</b></div>
<div class="panel-body" >
  <br><br>
  <div class="row">
  <div class="col-sm-6">
    <div class="panel panel-success">
    <div class="panel-body">
      <br>
      <div class="row">
      <div class="col-sm-7">
      <label for="" style="color:#1c01b2;">Total Orders</label>
      </div>
      <div class="col-sm-5">
      <label for="">:  {{shipped+pending}}</label>
      </div>
      </div>
      <br>
      <div class="row">
      <div class="col-sm-7">
      <label for="" style="color:#1c01b2;">Shipped Orders</label>
      </div>
      <div class="col-sm-5">
      <label for="" >:  {{shipped}}</label>
      </div>
      </div>
      <br>
      <div class="row">
      <div class="col-sm-7">
      <label for=""style="color:#1c01b2;">Pending Orders</label>
      </div>
      <div class="col-sm-5">
      <label for="">:  {{pending}}</label>
      </div>
      </div>
      <br>
    </div>
    </div>
  </div>

  <div class="col-sm-4" >
      <canvas chart-colors="['#46BFBD', '#FDB45C']" style="width:100 px;margin-left:100px;" id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-options="options"></canvas>
  </div>
  </div>


</div>
<br><br><br>
</div>
