<div class="row content">
  <div class="col-sm-2 sidenav">
     <div class="list-group">
          <a href="#" class="list-group-item active" style="background-color:#33691e;margin-top:15px">Menu</a>
          <a ui-sref="user.orders" class="list-group-item">Order Status</a>
          <a ui-sref="user.history" class="list-group-item">View History</a>
          <a ui-sref="user.pwd" class="list-group-item" >Change&nbsp;Password</a>
          <a ui-sref="home" class="list-group-item">Log Out</a>
        </div>
  </div>
  <div class="col-sm-7 text-left">
    <ui-view/>
  </div>

</div>
